@import url('https://fonts.googleapis.com/css2?family=Font1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Font2&display=swap');

body {
    background-color: #fcfbfb;
    font-family: 'Font1', Times New Roman, Times, serif, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: white; /* Set font color to white */
}

h2 {
    margin: 0;
}

.home-title {
    font-family: Times New Roman, Times, serif , 'Bradley Hand', sans-serif;
    font-size: 2em;
}


.book,
.join {
    font-size: 18px;
}

.msg p {
    font-size: 0.8em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
}


#logo_link {
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.book {
    text-align: center;
}
.button-box {
    display: flex;
    justify-content: center;
}
.book,
.join {
    padding: 15px 30px;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    margin-top: 10px;
}

.book,
.join {
    margin-top: 50px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
    
}

footer {
    margin-top: 200px;
}

.book,
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

footer {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a,
nav a:hover,
.home-title,
h4,
.book,
.join,
.book:hover,
.join:hover,
.msg h2,
msg p,
footer,
footer a,
footer a:hover {
    color: white;
    
}
.header,
#hero-msg h1,
#hero-msg h4 {
    color: white;
    
}

.logo,
.icon {
    width: 100px;
}

#hero-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}


#background {
    height: 725px;
    background-color: #d9c2a3;
    margin: 20px;
}

footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}
.rivers-card,
.camping-card,
.rapids-card,
.msg {
    text-align: center;
    margin: 20px;}